<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <link rel="stylesheet" href="../assets/comentarios.css">
</head>

<body>
    <header>
        <img src="../assets/imgs/Logo sem fundo.png" alt="" id="logo">
    </header>
    <div class="boxComentarios">
        <h1>Comentários</h1>
        <input type="text" class="texto">
        <button type="submit" id="btn">Enviar</button>
        <ul id="comentarioS">
            <li class="comentario hide">TEXTO TESTE</li>
            <button class="btnER hide">...</button>
            <button class="edit hide">Editar</button>
            <button class="delete hide">Excluir</button>
        </ul>
    </div>
    <script src="../assets/comentarios.js"></script>
</body>

</html>