<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligue Já</title>
    <link rel="stylesheet" href="../css/tel-ajuda.css">
</head>
<body>

    <div id="logo">
        <h1>ARGOS</h1>
    </div>
    <h2>Busca Telefones</h2>

    <div class="select">
        <select id="assunto" >
            <option value="..." disabled selected> Assunto da Denúncia</option>
            <option value="1">Segurança</option>
            <option value="2">Infraestrutura Pública</option>
            <option value="3">Risco a saúde</option>
        </select>
    </div>

    
    <div class="botão">
        <button id ="btn-carrega"><strong>Buscar Telefones</strong></button>
    </div>


    <main>
        
    </main>
    <!--SCRIPT JS-->
    <script src="../js/tel-ajuda.js"></script>

    
        
</html>