<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argos-Graphics</title>
    <link rel="stylesheet" href="../css/graphics.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>



<body>
    <nav>
        <img src="../Pictures/Logo.jpg" alt="imagem da logo da empresa Argos com fundo branco." width="150px" id="logo">

        <ul>
            <li><a href="../../cadastro-denuncia/cad-denun.html">Denuncie</a></li>
            <li><a href="../../tel-ajuda/assets/views/tel-ajuda.html">Ligue Já</a></li>
            <li><a href="#">Gráficos</a></li>
            <li><a href="../../tel-ajuda/assets/views/tel-ajuda.html">Zonas de Risco</a></li>
            <li><a href="../../tel-ajuda/assets/views/tel-ajuda.html">Ligue Já</a></li>
            
        </ul>

    </nav>
    
    <div class="container-img">
    <img src="../Pictures/argos.png" id="imagem">
</div>

    <main>
        <div class="container-all">
            <div class="container-lateral">

                <div class="buttons">
                <button class="btn">INFRAESTRUTURA</button>
                </div>

                <div class="buttons">
                    <button class="btn">SEGURANÇA PUBLICA</button>
                    </div>
                    

                <div class="buttons">
                    <button class="btn">RISCOS A SAÚDE</button>
                    </div>

             </div>

             <div>
                <canvas id="chart"></canvas>
              </div>


        </div>
        
    </main>

    <script src="../JS/graphics.js"></script>

</body>


</html>